/* Modal de Ofertas */
/* General Styling for OfertasModal */
.ofertas-modal {
  max-width: 500px;
  margin: 10% auto; /* Asegura que se centre verticalmente */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: visible; /* Asegura que no se corte */
  z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

.ofertas-modal-header {
  background-color: #007bff; /* Azul Bootstrap */
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;
  font-size: 18px;
}

.ofertas-modal-body {
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro */
}

.ofertas-modal-footer {
  background-color: #f1f1f1;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Input Styling */
.ofertas-input {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
}

/* Button Styling */
.ofertas-cancel-button {
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.ofertas-submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.ofertas-submit-button:hover {
  background-color: #218838;
}

.ofertas-cancel-button {
  background-color: #dc3545;
  color: white;
}

.ofertas-cancel-button:hover {
  background-color: #c82333;
}
