/* Contenedor de la tabla */
.cliente-list-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2-listado-c{
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

/* Tabla de clientes */
.cliente-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.cliente-table-header {
  background-color: #ff6f61;
  color: white;
  text-align: left;
  padding: 0.8rem;
}

.cliente-table-row {
  transition: background-color 0.3s ease;
}

.cliente-table-row:hover {
  background-color: #f1f1f1;
}

.cliente-table-data {
  padding: 0.8rem;
  border: 1px solid #ddd;
}

.cliente-table-header, .cliente-table-data {
  font-size: 1rem;
}
