.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/logo.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /* Para cubrir todo el contenedor */
  background-position: center; /* Para centrar la imagen */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.inner-item {
  text-align: center;
}

/* Estilos para los enlaces */
.inner-item a {
  text-decoration: none;
  color: #333;
}

.inner-item a:hover {
  color: #666;
}
